
#root,
html,
body {
  height: auto;
  margin: 0;
  padding: 0;
} 

body {
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  height: 100%;
  display: flex;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h4{
  font-size: 16px;
}

p{
  font-size: 16px;
}
h3{
  color:white;
  background-color:rgba(238,69,64,0.25);
  font-size: 30px;
}

.login-form, .signUp-form, .restaurant-form {
  display: flex;
  flex-direction: column;
  width: 1300px;
  padding: 50px;
  font-weight: bold;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  /* background-color:#ee4540; */
  /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
  box-shadow: 2px 2px 10px 10px rgba(232, 103, 182, 0.1);
}
.formCol img{
  margin: 0 auto;
  width:100%;
}

.div1{
  margin: 0 auto;
  width: 1100px;
}
.buttons-wrapper{
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-left:40px;
}
.home-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top:-34px;
  background-image: url('./components/img/home.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
}

.div1, .login-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.formCol{
  width: 46%;
}
.error {
  margin: 0;
  position: absolute;
  color: red;
}
input,
textarea {
  margin-top: 32px;
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  color: #4d2d52;
  border: 2px solid rgba(77, 45, 82, 0.8);
}

input.error {
  border-color: red;
}


button {
  max-width: 150px;
  margin: 32px 0;
  padding: 12px 20px;
  border-style: none;
  background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}
.user-card{
  border: 1px solid black;

}
.nav-links a {
  text-decoration: none;
  color: #801336;
  font-weight: bold;
  margin-right: 1rem;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
}
.impressed-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-top: 32px;
  border: 2px solid rgba(77, 45, 82, 0.8);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1.5em auto, 100%;
}
.impressed-select::-ms-expand {
  display: none;
}
.impressed-select:hover {
  border-color: #888;
}
.impressed-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #6c2424;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.impressed-select option {
  font-weight: normal;
}
.cardbox{
  border: 2px solid black;
}
.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.card-deck{
  width:32%;
  margin: 10px auto;
}
.title-img{
display: flex;
flex-direction: row;
justify-content: space-between;

}
.title-img img{
  width:40px;
}
.card-footer{
  text-align: center;
}
h1{
  color:#801336;
  text-decoration:none;
  font-family: 'Rancho', cursive;
}
.about-app{
width:100%;
text-align: center ;
padding-top:180px;
font-family: 'Rancho', cursive;
}
@media(max-width:500px){
  .login-form, .signUp-form, .restaurant-form, .div1, .card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .formCol,  .card-deck{
    width: 100%;
  }
  .about-app{
    padding-top:5px;
  }
}